<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code</title>
</head>
<body>
    <p>Please enter the code to verify your account.</p>
    <p><strong>{{.code}}</strong></p>
    <p>The code will expire in {{.expireIn}} minutes.</p>
</body>
</html>